-r ../requirements.txt

# Coverage collection
Coverage>=6.0

# Test Runner
pytest>=6.2.4
pytest-cov>=3.0.0

# Static Type Checking
mypy>=0.930
lxml>=4.6.4

# For pyTooling.Configuration.YAML testing
ruamel.yaml>=0.17.20
