-r ../requirements.txt

# Coverage collection
Coverage>=6.3

# Test Runner
pytest>=7.1.1
pytest-cov>=3.0.0
pytest-benchmark>=3.4.1

# Static Type Checking
mypy>=0.931
lxml>=4.8

# For pyTooling.Configuration.YAML testing
ruamel.yaml>=0.17

# For performance testing
anytree>=2.8.0
itertree>=0.7.3
numpy>=1.21
