-r ../requirements.txt

# For performance testing of Node (tree)
anytree >= 2.9.0
itertree >= 1.1.3
treelib >= 1.6.4

# For performance testing of Graph/Vertex (graph)
networkx >= 3.1
igraph >= 0.10.6

# For performance testing of LinkedList/Node (linked list)
doubly-py-linked-list >= 1.1.2
