-r ../../requirements.txt

# Static Type Checking
mypy[reports] ~= 2.1
typing_extensions ~= 4.16
types-colorama >= 0.4.16
types-setuptools >= 80.9
lxml >= 6.1, <7.0

# For pyTooling.Configuration.YAML testing
ruamel.yaml ~= 0.19.1

# For pyTooling.TerminalUI testing
colorama ~= 0.4.6
